@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: hsl(257, 40%, 49%);
  background-image: url("./images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
#header {
  padding: 60px;
  display: flex;
  align-items: center;
}
.header-logo {
  padding: 0 50px;
}
#main-container {
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
  width: 88vw;
  margin: auto;
  display: flex;
}
.main-container-left {
  margin-right: 20px;
}
.main-container-left img {
  object-fit: contain;
  width: 850px;
  display: flex;
}
.main-container-right {
  padding-top: 30px;
  padding-left: 20px;
  color: white;
}
.main-container-right-title h1 {
  line-height: 80px;
  font-size: 60px;
}
.main-container-right-desc {
  font-family: sans-serif;
  font-size: 20px;
  max-width: 600px;
  color: hsl(0, 0%, 83%);
}
.main-container-right-btn button {
  background: white;
  box-shadow: 0px 6px 8px 0.1px rgba(0, 0, 0, 0.4);
  border: none;
  outline: none;
  color: hsl(257, 40%, 45%);
  font-size: 20px;
  padding: 20px 65px;
  margin: 20px 5px;
  border-radius: 50px;
  transition: all 0.15s;
  cursor: pointer;
}
.main-container-right-btn button:hover {
  transform: scale(1.05);
}
#footer {
  display: flex;
  align-items: center;
  height: 158px;
  justify-content: flex-end;
}
.social-media {
  padding: 40px;
}
.social-media i {
  margin: 0 5px;
  font-size: 30px;
  color: white;
  border: 1px solid white;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.social-media i:hover {
  border-radius: 50px;
}
@media (max-width: 1440px) {
  #main-container {
    flex-direction: column;
  }
  .main-container-right {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  #header {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 0;
  }
  .main-container-right {
    padding-left: 0px;
  }
  .main-container-right-title h1 {
    line-height: 30px;
    font-size: 1.4rem;
  }
  .main-container-right-desc p {
    font-size: 1.1rem;
  }
  .main-container-left img {
    object-fit: contain;
    max-width: 850px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .main-container-right-title h1 {
    line-height: 30px;
    font-size: 4vw;
  }
  .main-container-right-desc p {
    font-size: 3vw;
  }
  .header-logo img {
    object-fit: contain;
    width: 200px;
  }
  .main-container-right-btn button {
    padding: 15px 40px;
    font-size: 15px;
  }
}
